<!DOCTYPE html>
  <head>
    <title>Create Listing</title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
          <form action="/listings" method="post">
          <input type="text" name="create_name" value="Enter name here:" required>
          <input type="textarea" rows="4" cols="50" maxlength="200 name=" description" value="Enter description here:" required>
          <input type="number" name="set_price" value="Enter price: £" required>
          <input type="submit" value="Add Listing" >
        </form>

  </body>
</html>