<!DOCTYPE html>
  <head>
    <title>MakersBnB</title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <script src="jquery-3.4.1.min.js"></script>
  </head>
  <body>

  <div id="header">
    Welcome to Makers BnB
  </div>

  <input type=submit id="homepage-sign-up-btn" value='Sign Up'>
  <input type=submit id="homepage-create-listing-btn" value='Create Listing'>
  <input type=submit id="create-booking-btn" value='Create Booking'>
  <input type=submit id="view-booking-btn" value='View Booking'>  
  <input type=submit id="back-btn" value='< Go Back'>  

  <div id="show-listings"></div>
  <div id="listing-details"></div>
  <div id="sign-up-form"></div>
  <div id="create-listing-form"></div>
  <div id="create-booking-form"></div>
  <div id='booking'></div>


  
    <script src="UserInterface.js"></script>
    <script src="BookingInterface.js"></script>
    <script src="ListingInterface.js"></script>
    <script src="user.js"></script>
  </body>
</html>
