<!DOCTYPE html>
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Select a Date Range</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
  "Welcome to Makers BnB"
  <div id="header"></div>
  <input type=submit id="homepage-sign-up-btn" value='Sign Up'>
  <input type=submit id="homepage-create-listing-btn" value='Create Listing'>
  <input type=submit id="create-booking-btn" value='Create Booking'>
  
    <div id="sign-up-form"></div>
    <div id="create-listing-display"></div>

<div id="create-booking-form"></div>

      <div id='booking'><label for="from">From</label>
      <input type="text" id="from" name="from">
      <label for="to">to</label>
      <input type="text" id="to" name="to">
      <input type=submit id="dates" value='Create Dates'>
      </div>

  <script src="UserInterface.js"></script>
  <script src="BookingInterface.js"></script>
  <script src="ListingInterface.js"></script>
  <script src="user.js"></script>
  </body>
</html>