<!DOCTYPE html>
  <head>
    <title>MakersBnB</title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
  "Welcome to Makers BnB"
  <button>Sign Up</button>

  </body>
</html>