<!DOCTYPE html>
  <head>
    <title>MakersBnB</title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <script src="jquery-3.4.1.min.js"></script>
  </head>
  <body>
  "Welcome to Makers BnB"
  <div id="header"></div>
  <input type=submit id="homepage-sign-up-btn" value='Sign Up'>
  <input type=submit id="homepage-create-listing-btn" value='Create Listing'>

    <div id="sign-up-form"></div>
    <div id="create-listing-form"></div>
    <div id="show-listings">
      <% @listings.each do |listing| %>
        <a href="goggle.com"><%= listing.name %></a>
      <% end %>
    </div>


  
  <script src="UserInterface.js"></script>
  <script src="BookingInterface.js"></script>
  <script src="ListingInterface.js"></script>
  </body>
</html>

